{% extends 'base.html' %}
{% load static %}

{% block title %}
    Formulário para Nova Categoria
{% endblock %}

{% block header_links %}
    <li><a href="{% url 'home-page' %}">Home</a></li>
    <li><a href="{% url 'news-form' %}">Cadastrar Notícias</a></li>
{% endblock %}

{% block content %}
<form class="categories-form" method="post" action="{% url 'categories-form' %}">
    {% csrf_token %}
    {{ form_category.as_p }}
    <button class="button" type="submit">Salvar</button>
</form>
{% endblock %}

